@import url('https://fonts.googleapis.com/css2?family=Allura&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo {
     background: #2d572c;
}

.logo-img {
    width:350px ;
    
}


.contenedor {
    border: 2px solid #2d572c;
    background: #2d572c;
    border-radius: 0px 0px 4px 4px;
}

.menu {
  background: white;
  border-radius: 0 0 16px 16px;
  display: flex;
  flex-wrap: wrap; /*Por si la pantalla es chica, ajusta la cantidad de elementos que hay en un contendor RESTANDO las columnas*/
  align-items: center;  
  justify-content: space-around; /*Espacios entre los elementos*/
  
}

.pie-pagina {
        background: white;
    border-radius: 16px 16px 0px 0px;
    height: 100%;
}

.link{
   
    text-decoration: none;
    color:#ffba00;
    font-size: clamp(32px,8vw,70px); /*Letra minima, letra maxima*/
}

.menu-link{
   
    gap: 60px; /*-Espacios entre los elementos hijos*/
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    font-size: 74px;
    font-family: Allura;
    flex: wrap;
    font-weight:bold;
     text-shadow:
        2px 0 black,
        -2px 0 black,
        0 2px black,
        0 -2px black,
        1px 1px black,
        -1px -1px black,
        1px -1px black,
        -1px 1px black;
}


.bienvenida {
    color: white;
    font-family: Nunito;
    font-size: clamp(12px,4vw,20px); /*Letra minima, letra maxima*/
    padding: 2% 5%;
}

.subtitulo {
    color:white;
    font-size: clamp(24px,8vw,62px); 
    text-align: center;
    font-family: Allura;
}


.prod-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 12px;

}

.prod-item {
    border: 4px solid white;
    border-radius: 8px;
    margin-bottom: 12px;
}

.prod-present{
    color: white;
    font-size: 20px;
    display: flex;
    font-family: Nunito;
    font-size: clamp(12px,8vw,20px);
    width: 430px;
    text-align: center;
}

.prod-caract{
    color: white;
    line-height: 1;
   font-size: clamp(10px,8vw,16px);
    font-family: Nunito;
    margin: 25px;
}

.prod-price {
    color: #ffba00;
    font-size: clamp(28px,8vw,30px); 
    text-align: center;
    font-family: Allura;
}

.prod-img{
    border: 1px solid white;
    /* border-radius: 0px 0px 12px 0px; Idea descartada*/
    width: 250px;
    height: 250px;
}

.btn-add {
    font-size: 18px;
    background-color: black;
    color: #ffba00;
    font-family: Nunito;
    padding: 4px;
    border-radius: 8px;
}

.btn-add:hover {
    background-color: rgb(50, 50, 50);
   
}

.subtitulo-pie-pagina {
    color: #2d572c;
    font-size: clamp(24px,8vw,62px); 
    text-align: center;
    font-family: Allura;
}

.pie-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    align-items: CENTER;
    
}


.pie-redes {
    
    
    font-size: clamp(12px,4vw,20px); 
    text-align: center;
     width: 250px;
    font-family: Nunito;
}


.pie-redes-links {
    
   align-items: center; 
    color: black;
     font-size: clamp(10px,4vw,15px); 
    text-align: center;
    text-decoration: none;
    vertical-align: 100%;
    font-family: Nunito;
    
}
.pie-redes-link{
     list-style-type: none;
    align-items: center; 
}
.pie-mapa{
    border: 2px solid #2d572c;
    font-size: clamp(12px,8vw,20px); 
    text-align: center;
    width: 50%;
    font-family: Nunito;
    margin: 20px;
}

@media only screen and (max-width: 800px) {
    .pie-container{
       
        flex-direction: column;
    }
    .pie-mapa{
        width: 90%;
        margin: 1px;
    }
}

@media (max-width: 1200px) {
    .menu{
        justify-content: center;
    }
    .menu-link{
        gap: 30px
    }
}
@media (max-width: 500px) {
    .prod-present{
               flex-direction: column;
               width:200px;
               margin-bottom: 10px;

    }
    .prod-img{
    border: 1px solid white;
    /* border-radius: 0px 0px 12px 0px; Idea descartada*/
    width: 200px;
    height: 200px;
}
.prod-caract{
   
    padding: 5px;
}

}


/*Formulario*/

.pie-contacto{
    
     font-size: clamp(12px,8vw,20px); 
    text-align: center;
    padding-bottom: 10px;
    font-family: Nunito;
    
}

.formulario {
  background-color: #2d572c;
  font-size: 16px;
  font-family: Nunito;
  font-size: clamp(12px,8vw,20px); 
  padding: 5px;
  border-radius: 8px;
  width: 250px;
  margin: auto;
}

input[type=text],[type=email],textarea {
  color:black;
  border: 3px solid black;
  font-size: 16px;
  margin: 20px;
  height: 75%;
 
}


.mensaje {
  margin-bottom: 20px;
  font-family: Nunito;
  padding: 0px;
}
