@import url("https://fonts.googleapis.com/css2?family=Allura&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fondo {
  height: 100vh;
  background: #2d572c;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contenedor-principal {
  flex-wrap: wrap; /*Por si la pantalla es chica, ajusta la cantidad de elementos que hay en un contendor RESTANDO las columnas*/
  background-color: white;
  border-radius: 16px;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  height: 400px;
}
.columna-izquierda {
  width: 65%;
}
.logo-img {
  width: 100%;
}

.columna-derecha {
  width: 35%;
  padding: 20px;
}

@media (max-width: 1100px) {
  .columna-derecha {
    width: 100%;
    max-width: 400px;
  }
  .contenedor-principal {
    height: 75%;
  }
}
/*Formulario*/

.pie-contacto {
  font-size: clamp(12px, 8vw, 20px);
  text-align: center;
  padding-bottom: 10px;
  font-family: Nunito;
}

.formulario {
  background-color: #2d572c;
  font-size: 14px;
  font-family: Nunito;
  font-size: clamp(14px, 4vw, 18px);
  padding: 5px;
  border-radius: 8px;
  width: 100%;
  max-width: 400px;
  min-width: 200px;
  height: 100%;
  margin: auto;
  text-align: center;
  color: white;
}

.btn-loggear {
  font-size: 18px;
  background-color: black;
  color: #ffba00;
  font-family: Nunito;
  padding: 4px;
  border-radius: 8px;
  margin-bottom: 4px;
}

.pie-pagina {
  background: #2d572c;
  border-radius: 16px 16px 0px 0px;
  height: 100%;
}

.subtitulo {
  color: #ffba00;
  font-size: clamp(52px, 8vw, 60px);
  text-align: center;
  font-family: Allura;
  font-weight: bold;
  text-shadow: 2px 0 black, -2px 0 black, 0 2px black, 0 -2px black,
    1px 1px black, -1px -1px black, 1px -1px black, -1px 1px black;
  line-height: 0.8;
}
.contenido {
  color: black;
  font-family: Nunito;
  font-size: clamp(12px, 4vw, 16px); /*Letra minima, letra maxima*/
  padding: 2% 5%;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.btn-registrar {
  font-size: clamp(12px, 4vw, 16px);
  background: none;
  color: blue;
  border: none;
  font: Nunito;
  cursor: pointer;
  text-decoration: underline;
}

.btn-registrar:hover {
  color: darkblue;
}

input[type="text"],
[type="email"],
[type="password"],
textarea {
  color: black;
  border: 3px solid black;
  font-size: 18px;
  margin: 20px;
  height: 100%;
  width: 75%;
  font-family: Nunito;
}
